@import "../general/index.scss";

#project{
  background-color: $flash-white;
  overflow: auto;
	overflow-x: hidden;
  height: 100%;
	width: 100%;
  padding: 6rem 0rem 0rem 0rem;

  .form-container{
    width: 100%;

    @include tablet{
      margin: 0px 10%;
      width: 80%;
    }

    @include hd{
      margin: 0px 25%;
      width: 60%;
    }

    .form-title{
      display: flex;
      justify-content: center;
      margin: 10px;
    }


  }
}